{% extends 'base.html' %}

{% block title %}Detail Introduction{% endblock %}

{% block content %}
        {%  load staticfiles %}
    {%  load static %}
    {{ introduction.contents }}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/repository_list.css' %}">

    <a href="{% url 'board:comment_add' repository_pk=introduction.repository_id introduction_pk=introduction.pk %}"><button class="button button1">댓글 달기</button></a>
    <table class="type10">
        <tbody>
        {% for comment in introduction.comment_set.all %}
            <tr>
                <td>{{ comment.comment }}</td>
                <td><a href="{% url 'board:comment_modify' repository_pk=introduction.repository_id introduction_pk=introduction.pk pk=comment.pk %}" class="btn btn-success">수정</a></td>
                <td><a href="{% url 'board:comment_delete' repository_pk=introduction.repository_id introduction_pk=introduction.pk pk=comment.pk %}" class="btn btn-danger">삭제</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}