{% extends 'base.html' %}

{% block title %}List Repository{% endblock %}

{% block content %}
    {%  load staticfiles %}
    {%  load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <img src="{% static 'img/logo.png' %}" style="width: 300px; ">
    <br>
    <table class="table w-50">
        <tr>
            {% for repository in repository_list %}
                <th>
                    <a href="{% url 'board:repository_detail' pk=repository.pk %}">{{ repository.name }}<br>
                    </a>
                </th>
                <td>
                {% for introduction in repository.introduction_set.all %}
                        <tr>
                            <td>No.{{ introduction.version }} <a href="{% url 'board:introduction_detail' repository_pk=repository.pk pk=introduction.pk %}">{{ introduction.version }}</a></td>
                            <td><a href="{% url 'board:introduction_delete' repository_pk=repository.pk pk=introduction.pk %}"><i class="bi bi-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}